<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">
      {{ with .Site.Params.site_logo }}
      <img src="{{ . }}" class="w100 mw5-ns" alt="{{ $.Site.Title }}" />
      {{ else }}
      {{ .Site.Title }}
      {{ end }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      {{ if .Site.Menus.main }}
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {{ range .Site.Menus.main }}
        <li class="nav-item">
          <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
      {{ end }}
    </div>
  </div>
</nav>